@model SecuryptMVC.Models.UserOwnedItemsViewModel

@{
    ViewBag.Title = "Your Encrypted Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Items</h2>

<div>
    
</div>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Owner Email
        </th>
        <th>
            Description
        </th>
        <th>
            Private
        </th>
        <th>
            Permitted Users
        </th>
    </tr>

    @foreach (var item in Model.OwnedItems)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => item.Name)
            </td>
            <td>
                @Html.DisplayFor(m => item.OwnerEmail)
            </td>
            <td>
                @Html.DisplayFor(m => item.Description)
            </td>
            <td>
                @Html.DisplayFor(m => item.IsPrivate)
            </td>
            <td>
                @foreach (var id in item.PermittedUserIDs)
                {
                    <p>
                        @id
                    </p>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }) |
                @Html.ActionLink("Decrypt and Download", "Download", new { id = item.ID })
            </td>
        </tr>
    }

</table>