<!--
Author:
    Kevin Mitchell
    Dec 5 - 8
-->

@model IEnumerable<SecuryptMVC.Models.ApplicationUser>

@{
    ViewBag.Title = "Administration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administration</h2>

@using (Html.BeginForm("Index", "Admin", FormMethod.Get))
{
	<div class="form-group">
		Search: &nbsp; @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
		<input type="submit" value="Search" />
	</div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TwoFactorEnabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LockoutEnabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LockoutEnabled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessFailedCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
			@Html.Hidden("id", item.Id)
            @using (Html.BeginForm("Delete", "Admin", new { id = item.Id }, FormMethod.Post, new { onclick = "return confirm('Are you sure you wish to delete this user?');" }))
            {
                    <input type="submit" value="Delete" class="makealink"/>
            }
        </td>
    </tr>
}

</table>
