@using Securypt.Resources;
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>@MyStrings.Tutorial_pt1</p>
<p>@MyStrings.Tutorial_pt2</p>
<p>@MyStrings.Tutorial_pt3</p>
