@using Securypt.Resources;
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Securypt</h1>
    <p class="lead">@MyStrings.Jumbotron</p>

    <div class="map-path">@ViewBag.Message</div>

    <p><a href="~/Account/Register" class="btn btn-primary btn-lg">@MyStrings.Jumbo_btn &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@MyStrings.HowStartH2</h2>

        <!--Need to remove images from gitignore or add new images-->
        <img src="~/Content/Images/cqraf6gz.bmp" alt="drag and drop" width="300" class="img-rounded img-shadow"/>
        <p>
            @MyStrings.Tutorial_pt1 
        <p>
           @MyStrings.Tutorial_pt2
        </p>
        <p>
            @MyStrings.Tutorial_pt3
        </p>
    </div>
    <div class="col-md-4">
        <h2>@MyStrings.EncryptH2</h2>
        <img src="~/Content/Images/encryption.jpg" alt="Encryption" width="350" class="img-rounded img-shadow"/>
        <p>
           @MyStrings.Encrypt_desc
        </p>
        <p><a link ="https://en.wikipedia.org/wiki/Encryption"/>@MyStrings.Wikipedia</p>
        <p><a class="btn btn-default" href="~/Upload">@MyStrings.EncryptHome_btn &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@MyStrings.DecryptH2</h2>
        <img src="~/Content/Images/decryption.jpg" alt="Decryption" width="350" class="img-rounded img-shadow"/>
        <p>
            @MyStrings.Decrypt_desc
        </p>
        <p><a link="https://en.wikipedia.org/wiki/Encryption" />@MyStrings.Wikipedia</p>
        <p><a class="btn btn-default" href="~/Views/EncryptedItems/Index.cshtml">@MyStrings.DecryptHome_btn &raquo;</a></p>
    </div>
</div>